@import url('https://font.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #001923;

}
section::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#f5e449,#f71661);
    border-radius: 50%;
    transform: translate(-420px,-180px);
}
section::after
{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#3fa2f3,#9bd5f0);
    border-radius: 50%;
    transform: translate(400px,180px); 
}
.container
{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}
.container::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.container h2{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 33px;
    margin-bottom: 22px;
}
.container .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.container .row100 .col .inputBox
{
    position: relative;
    width: 100%;
    height: 40px;    
    color: #fff;    
}
.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 12px;   
    z-index: 1;
    color: #000;
}
.container .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 12px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .col .inputBox input:focus + .text,
.container .row100 .col .inputBox input:valid + .text,
.container .row100 .col .inputBox textarea:focus + .text,
.container .row100 .col .inputBox textarea:valid + .text
{
    top: -35px;
    left: -10px;
}
.container .row100 .col .inputBox .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .col .inputBox input:focus ~ .line,
.container .row100 .col .inputBox input:valid ~ .line
{
    height: 100%;

}
.container .row100 .col .inputBox.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container .row100 .col .inputBox textarea:focus ~ .line,
.container .row100 .col .inputBox textarea:valid ~ .line
{
    height: 100%;
}
.container .row100 .col input[type="submit"]
{
    border: 2px solid #fff;
    background: none;
    padding: 0px 50px 6px 50px;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    font-variant-caps: all-petite-caps;    
    border-radius: 6px;
}

@media (max-width: 768px)
{
    section::before 
    {
        transform: translate(-200px,-180px);
    }
    section::after {
        transform: translate(220px,180px);
    }
    .container {        
        padding: 20px;       
    }
    .container h2 {      
        font-size: 24px;        
    }
}